@font-face {
    font-family: 'Diphylleia-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/Diphylleia-Regular.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 기본 스타일 초기화 */
html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* 스크롤 방지 */
}

#main {
    width: 100%;
    height: 85vh;
}

.main01 {
    width: 100%;
    height: 30vh;
    box-sizing: border-box;
}

#main01-con {
    width: 95%;
    height: 100%;
    border: solid 1px #4B4B4B;
}

.recording {
    padding: 2vh;

    font-size: 1.2rem;
    font-family: 'Pretendard-Regular';
    color: #A3A3A3;
}

.question {
    padding: 2vh;

    font-size: 2.2rem;
    font-family: 'Diphylleia-Regular';
    color: #E6BA73;
}

#main02 {

    width: 95%;
    height: 55vh;
    flex-grow: 1;
    /* 남은 공간을 전부 차지하도록 설정 */
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.userInput {
    border: solid 1px #4B4B4B;
    width: 100%;
    height: 100%;

    padding-left: 2vh;
    padding-top: 4vh;

    background-color: transparent;

    color: #B1B1B1;
    font-family: 'Pretendard-Regular';
    font-size: 1.6rem;

    outline: none;
}

.userInput::placeholder{
    color: #5A5A5A;
    font-family: 'Pretendard-Regular';
    font-size: 1.6rem;
}



.btn {
    width: 100%;
    height: 15vh;

    position: fixed;
    /* 화면에 고정 */
    bottom: 0;
    /* 화면 아래에 붙이기 */
    left: 0;
    /* 왼쪽 정렬 */
    z-index: 100;
    /* 다른 요소 위로 배치 */
}

.btn form {
    width: 100%;
    height: 100%;
}

.btn form button {
    width: 100%;
    height: 100%;

    background-color: #2E2E2E;
    border: solid 2px #4B4B4B;

    color: #AEABAB;
    font-family: 'Pretendard-Regular';
    font-size: 1.8rem;

    cursor: pointer;
}