* {
    margin: 0;
    padding: 0;

}

/* 기본 스타일 초기화 */
html,
body {
    width: 100vw;
    height: 100vh;
}

.genre_main{
    width: 100vw;
    height: 100%;
}

.genre_main01{
    width: 90%;
    height: 32vh;

    position: fixed;
    top: 0;
    left: 0;
}

.genre_title{
    margin-left: 2vh;

    font-family: 'Diphylleia-Regular';
    font-size: 1.8rem;
    font-weight: lighter;

    position: fixed;
    left: 0;
}

.genre_form{

    position: fixed;
    bottom: 0;
    margin-bottom: 2vh;
}

.genre_button{
    width: 100%;
    height: 12vh;

    background-color: #0D0B0A;

    justify-content: space-between;
    cursor:pointer;

    border: none;
}

.genre_button:focus{
    background-color: #BEB8A8;
}


.genre_button>h3{
    padding-left: 2vh;
    margin-bottom: 1vh;

    font-family: 'Diphylleia-Regular';
    font-size: 1.4rem;
    font-weight: lighter;

    color: #BFBFBF;

    text-align: left;

}
.genre_button:focus > h3{
    color: #6E5034;
}

.genre_button>p{
    padding-left: 2vh;

    font-family: 'Pretendard-Regular';
    font-size: 0.9rem;
    font-weight: lighter;

    color: #7E7E7E;


    text-align: left;
}

.genre_button:focus > p{
    color: #8B7350;
}

.vertical-hr {
    width: 1px;
    height: 100vh;

    background-color: #5A5A5A;
    border: none;
    transform: rotate(45deg);


    position: fixed;
    top: 0;
    left: 90%;
    transform: translateX(-50%);
}

hr {
    border: none;
    border-top: 1px solid #323232;
    width: 100vw;
}

/* 페이드 인 효과 */
.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

/* 페이드 아웃 효과 */
.fade-out {
    opacity: 1;
    animation: fadeOut 1s forwards;
}

/* 페이드 인 키프레임 */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 페이드 아웃 키프레임 */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
