@font-face {
    font-family: 'Diphylleia-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/Diphylleia-Regular.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

*{
    height: device-heihgt;
}

#title{
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    position: absolute; /* 절대 위치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 정확히 중앙으로 이동 */
    text-align: center;
    width: 40vw;
}

#title>h1{
    font-size: 3.2rem;
    font-family: 'Diphylleia-Regular';
    font-weight: lighter;

    border: solid 2px red;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}